<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
</head>
<body>

<h2>User Registration</h2>

<form th:action="@{/register}" th:object="${user}" method="post">

    <label>Full Name</label><br>
    <input type="text" th:field="*{fullName}" required><br><br>

    <label>Email</label><br>
    <input type="email" th:field="*{email}" required><br><br>

    <label>Password</label><br>
    <input type="password" th:field="*{password}" required><br><br>

    <label>Phone</label><br>
    <input type="text" th:field="*{phone}" required><br><br>

    <button type="submit">Register</button>

</form>

</body>
</html>